<button (click)="loginWithGoogle()">Login with Google</button>
<button (click)="displayBadPayers()">DisplayAfterLogin</button>
<!-- <button (click)="displayBalantaConturi()">DisplayAfterLogin</button>
<button (click)="displayRapoarte()">DisplayAfterLogin</button> -->

<div class="panel panel-default">
  <div class="panel-heading">Informatii rau platnici</div>
  <table class="table table-striped" >
          <thead>
              <tr>
                  <th colspan="5">
                      Filter by name:
                       <input class="form-control" [(ngModel)]="listFilter"/> 
                  </th>
              </tr>
            <tr>
              <th>Id</th>
              <th>CNP</th>
              <th>CI</th>
              <th>Nume</th>
              <th>Prenume</th>
              <th>Domiciliu</th>
              <th>Numar</th>
              <th>Strada</th>
              <th>Denumire CAR</th>
              <th>Data</th>
              <th>Restanta</th>
              <th>Valoarea imprumutata</th>
            </tr>
        </thead>

        <tbody>
          <tr *ngFor="let badPayer of filteredBadPayersList | paginate: { itemsPerPage: 1, currentPage: p}">
            <td>{{badPayer.Id}}</td>
            <td>{{badPayer.CNP}}</td>
            <td>{{badPayer.CI}}</td>
            <td>{{badPayer.Nume}}</td>
            <td>{{badPayer.Prenume}}</td>
            <td>{{badPayer.Domiciliu}}</td>
            <td>{{badPayer.Numar}}</td>
            <td>{{badPayer.Strada}}</td>
            <td>{{badPayer.DenCAR}}</td>
            <td>{{badPayer.Data | date:"MM/dd/yy"}}</td>
            <td>{{badPayer.Restanta}}</td>
            <td>{{badPayer.ValImprumut}}</td>
          </tr>
          
          <pagination-controls (pageChange)="p=$event" ></pagination-controls>
        </tbody>

        <tbody>
            <tr *ngFor="let balantaConturi of balantaConturii | async; let i = index">
              <td>{{balantaConturi.Cont}}</td>
               
              <td>{{balantaConturi.SoldCredit}}</td>
            </tr>
        </tbody>   
        <tbody>
          <tr *ngFor="let rapoarte of rapoartes | async; let i = index">
            <td>{{rapoarte.ActiviLaInceput}}</td>
             
          </tr>
      </tbody>        
  </table>
</div>


<div class="row">
  <div class="col-md-6">
      <canvas baseChart style="display: flex;"
        [data]="lineChartData"
        [datasets]="chartLines"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
  </div> 
</div>

